// Add any global css for the theme here

// import theme variable overrides first
@import 'theme_sass_variable_overrides';

// imports the base global style
@import '../../../styles/_global-styles.scss';

// LibraOpen override: widen the drag handle in form lists
ds-dynamic-form-array .cdk-drag .cdk-drag-handle {
  width: calc(2.3 * var(--bs-spacer));
}
