// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  --ds-header-navbar-border-bottom-height: 5px;
  --ds-navbar-link-background-hover: #{$uva-grey-100};
  --ds-header-icon-color: #{$link-color};
  --ds-header-icon-color-hover: #{darken($link-color, 15%)};

  --bs-link-color: #{$link-color};
  --bs-link-hover-color: #{$link-hover-color};
  --bs-link-color-rgb: #{to-rgb($link-color)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color)};
}
