<div class="item-page-field">
  @if (orcidValues.length > 0) {
    <ds-metadata-field-wrapper [label]="label | translate">
      @for (orcid of orcidValues; track orcid; let last = $last) {
        <a class="d-inline-flex align-items-center gap-1 ds-simple-metadata-link ds-orcid-external-link"
           [href]="orcidBaseUrl + '/' + orcid.value"
           target="_blank"
           rel="noopener noreferrer"
           role="link"
           tabindex="0">
          <ds-orcid-badge-and-tooltip
            [orcid]="orcid"
            [authenticatedTimestamp]="item?.firstMetadata('dspace.orcid.authenticated')">
          </ds-orcid-badge-and-tooltip>
          <span class="dont-break-out">{{ orcid.value }}</span>
        </a>
        @if (!last) {
          <span class="separator" [innerHTML]="separator"></span>
        }
      }
    </ds-metadata-field-wrapper>
  }
</div>

