@import "../../../styles/global-styles";

.loginLink,
.dropdownLogin,
.logoutLink,
.dropdownLogout {
  color: $libraopen-nav-link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $libraopen-nav-link-hover-color;
    text-decoration: none;
  }
}
