<div class="mt-ncs mb-5">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-4 mt-4">LibraOpen</h1>
        <p>Submit your scholarly articles, books, presentations, and other creative works. <a href="https://library.virginia.edu/libra/open">Learn more about LibraOpen</a>, review our&nbsp;<a href="https://library.virginia.edu/libra/open/oc-checklist/">LibraOpen Checklist</a><u>,</u>&nbsp;or contact&nbsp;<a href="mailto:libra@virginia.edu">libra&#64;virginia.edu</a>&nbsp;for deposit help.</p>
      </div>
    </div>
  </div>
</div>