<div class="mt-ncs mb-5">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-4 mt-4">LibraOpen</h1>
          <p class="lead"> LibraOpen is UVA's home for open access scholarly articles, books, presentations, and other creative works. <a href="https://library.virginia.edu/libra/open">Learn more about LibraOpen here.</a>
		         Want to submit? Review our <a href="https://library.virginia.edu/libra/open/oc-checklist/">LibraOpen Checklist</a> or
		        contact <a href="mailto:libra@virginia.edu">libra&#64;virginia.edu</a> for deposit help.</p>
        <p><i>For any UVA-affilliated individual</i></p>
      </div>
    </div>
  </div>
</div>