
<footer>
  @if (showTopFooter) {
    <div class="top-footer">
      <!-- Grid container -->
      <div class="content-container p-1">
        <!--Grid row-->
        <div class="row flex-wrap justify-content-center">
          <!--Grid column-->
          <div class="col-12">
            <ul class="footer-info list-unstyled d-flex flex-wrap justify-content-center justify-content-md-center gap-2 mb-0">
              @if (showCookieSettings) {
              <li>
                <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
                  {{ 'footer.link.cookies' | translate}}
                </button>
              </li>
              }
              <li>
                <a class="btn btn-link text-white"
                   routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
              </li>
              @if (showPrivacyPolicy) {
                <li>
                  <a class="btn btn-link text-white"
                  routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
                </li>
              }
              @if (showEndUserAgreement) {
                <li>
                  <a class="btn btn-link text-white"
                  routerLink="info/end-user-agreement" role="link" tabindex="0">{{ 'footer.link.end-user-agreement' | translate}}</a>
                </li>
              }
              @if (showSendFeedback$ | async) {
                <li>
                  <a class="btn btn-link text-white"
                  routerLink="info/feedback" role="link" tabindex="0">{{ 'footer.link.feedback' | translate}}</a>
                </li>
              }
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
    </div>
  }

  <!-- Copyright -->
  <div class="bottom-footer p-1 d-flex flex-column flex-md-row justify-content-center align-items-center text-white">
    <div class="bottom-footer content-container">
  
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row flex-wrap justify-content-center">
          <!--Grid column-->
          <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <ul class="list-group list-unstyled">
              <li class="list-group-item">
                <h5 class="text-white">Contact us</h5>
              </li>
              <li class="list-group-item">
                <a href="tel:1-434-924-3021" class="text-white">(434) 924-3021</a>
              </li>
              <li class="list-group-item">
                <a href="mailto:library@virginia.edu" class="text-white">library&#64;virginia.edu</a>
              </li>
              <li class="list-group-item">
                <a href="https://library.virginia.edu/askalibrarian" class="text-white">Ask a Librarian</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
            <ul class="list-group list-unstyled">
              <li class="list-group-item">
                <h5><a href="https://library.virginia.edu/" class="text-white">UVA Library</a></h5>
              </li>
              <li class="list-group-item">
                <a href="https://library.virginia.edu/about-uva-library" class="text-white">About UVA Library</a>
              </li>
              <li class="list-group-item">
                <a href="https://library.virginia.edu/services" class="text-white">Using the Library</a>
              </li>
              <li class="list-group-item">
                <a href="https://library.virginia.edu/teaching-and-writing" class="text-white">Teaching &amp; publication support</a>
              </li>
              <li class="list-group-item">
                <a href="https://library.virginia.edu/help" class="text-white">Get help</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <p class="m-1 text-white text-center">
        {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }} by the Rector and Visitors of the University of
        Virginia
      </p>
    </div>
  </div>
  <!-- Grid container -->
  <!-- Copyright -->
</footer>